<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">

       <!-- Side Bar toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sideBarToggle" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="logo">
            <a class="navbar-brand" href="/">
                <img src="/assets/images/logo/lglogo.png" href="/dashboard" alt="Logo">
            </a>
        </div>

        <a class="navbar-brand" href="/dashboard">
          Green Archers Analytics
        </a>

        <!-- User Account Dropdown -->
        <div class="dropdown ms-3 d-none d-md-block">
          <button class="btn btn-outline-light dropdown-toggle d-flex align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle fs-5 me-1"></i>
            {{#if user}}
              <span>{{user.firstName}}</span>
            {{else}}
              <span>Account</span>
            {{/if}}
          </button>
          <ul class="dropdown-menu">
            {{#if user}}
              <li class="profile">
                <a class="dropdown-item" href="/user-profile">Profile</a>
              </li>
              <li class="logout"> 
                  <button type="submit" id="logoutBtn" class="dropdown-item">Sign Out</button>
              </li>
            {{else}}
              <li class="login">
                  <a href="/" id="loginBtn" class="dropdown-item">Sign In</a>
              </li>
            {{/if}}
        </div>

    </div>
</nav>
