<!-- Sidebar -->
<nav class="col-md-2 sidebar d-none d-md-block">
    <div class="container-fluid">
        <!-- Side Bar toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sideBarToggle" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="sideBarToggle">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="../html/dashboard.html">
                        <i class="fas fa-tachometer-alt"></i>Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../html/players.html">
                        <i class="fas fa-users"></i>Players
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../html/games.html">
                        <i class="fas fa-calendar-alt"></i>Games
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../html/stats.html">
                        <i class="fas fa-chart-bar"></i>Statistics
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="../html/reports.html">
                        <i class="fas fa-file-alt"></i>Reports
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
