<!-- Sidebar -->
<div class="collapse d-md-block col-md-2 sidebar" id="sideBarToggle">
    <ul class="nav flex-column">
        <!-- User Account Dropdown for Mobile -->
        <li class="nav-item d-md-none">
            <div class="dropdown w-100">
                <button class="nav-link dropdown-toggle w-100 text-start" type="button" data-bs-toggle="dropdown">
                    <i class="bi bi-person-circle me-2"></i>
                    {{#if user}}
                        <span>{{user.firstName}}</span>
                    {{else}}
                        <span>Account</span>
                    {{/if}}
                </button>
                <ul class="dropdown-menu w-100">
                   {{#if user}}
                        <li class="profile">
                            <a class="dropdown-item" href="/api/users/profile">Profile</a>
                        </li>
                        <li class="logout"> 
                            <button type="submit" id="logoutBtn2" class="dropdown-item">Sign Out</button>
                        </li>
                    {{else}}
                        <li class="login">
                            <form id="loginForm" action="/auth/login" method="GET">
                            <button type="submit" id="loginBtn" class="dropdown-item">Sign In</button>
                            </form>
                        </li>
                    {{/if}}
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link {{#if (eq activePath '/')}}active{{/if}}" href="/">
                <i class="fas fa-tachometer-alt"></i>Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{#if (startsWith activePath '/players')}}active{{/if}}" href="/players">
                <i class="fas fa-users"></i>Players
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{#if (startsWith activePath '/games')}}active{{/if}}" href="/games">
                <i class="fas fa-calendar-alt"></i>Games
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{#if (startsWith activePath '/gameStats')}}active{{/if}}" href="/gameStats">
                <i class="fas fa-chart-bar"></i>Statistics
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{#if (startsWith activePath '/analytics')}}active{{/if}}" href="/api/analytics">
                <i class="fas fa-file-alt"></i>Reports
            </a>
        </li>
    </ul>
</div>


