<h1>Analytics</h1>

<div class="analytics-grid">

    <div class="card">PPG: {{analytics.ppg}}</div>
    <div class="card">FG%: {{analytics.fg}}</div>
    <div class="card">Turnovers: {{analytics.to}}</div>

    <div class="card wide">
        <canvas id="topScorers"></canvas>
    </div>

    <div class="card wide">
        <canvas id="teamPerformance"></canvas>
    </div>

</div>
